<!DOCTYPE html>
    {% include "imgapp/head.html" %}
	<body>
        {% include "imgapp/navbar.html" %}
		<div class="container">
            <h2 class="sub-header">Search Unprocessed Images</h2>
            <div class="well">
                <div class="row">
                    <div class="col-md-8">
                        <div class="form-group">
                            <input id="unptxt" type="text" class="form-control" placeholder="Serial">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <button id="unpbut" class="btn btn-default"><span class="glyphicon glyphicon-search" aria-hidden="true"></span>  Search</button>
                    </div>
                </div>
            </div>
            <h2 class="sub-header">Search Processed Images</h2>
            <div class="well">
                <div class="row">
                    <div class="col-md-8">
                        <div class="form-group">
                            <input id="ptxt" type="text" class="form-control" placeholder="Serial">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <button id="pbut" class="btn btn-default"><span class="glyphicon glyphicon-search" aria-hidden="true"></span>  Search</button>
                    </div>
                </div>
            </div>
		</div>
        {% include "imgapp/footer.html" %}
	</body>
</html>