<!DOCTYPE html>
	{% include "imgapp/head.html" %}
	<body>
        {% load filters %}
		{% include "imgapp/navbar.html" %}
		<div class="container-fluid">
            <h1 class="page-header">Dashboard</h1>
            <h2 class="sub-header">Processed Images</h2>
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead class="thead-inverse">
                        <tr>
                            {% for h in hlist %}
                                {% if h.sort %}
                                    <th class="selected" onclick="sortby('{{ h.glyph }}', '{{ h.id }}')">
                                {% else %}
                                    <th onclick="sortby('{{ h.glyph }}', '{{ h.id }}')">
                                {% endif %}
                                {{ h.tag }}
                                <span class="{{ h.glyph }}" aria-hidden="true"></span>
                                </th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% if rlist %}
                            {% for u in rlist %}
                                <tr onclick="get_image('{{ u.id }}')">
                                    <td>{{ u.unprocessed_img.id }}</td>
                                    <td>{{ u.unprocessed_img.serial }}</td>
                                    <td>{{ u.finish_date }}</td>
                                    <td>{{ u.finish_time }}</td>
                                    <td>{{ u|get_path_exists }}</td>
                                </tr>
                            {% endfor %}
                        {% else %}
                            <p>No images processed.</p>
                        {% endif %}
                    </tbody>
                </table>
            </div>
		</div>
        {% include "imgapp/footer.html" %}
	</body>
</html>